.card {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: auto auto;
}

.character {
  border-radius: 50%;
  border: solid grey;
  height: 200px;
  width: 200px;
}

.card a{
  text-decoration: none;
  color: darkred;
}

.card a:hover:after{
  transform: scale(0.15);
  content: url("../../images/explosion.png");
  display: block;
  position: absolute;
  left: 90px;
  top: -300px;
}
